[submodule "external/FEX"]
	path = external/FEX
	url = https://github.com/FEX-Emu/FEX.git
[submodule "external/libadrenotools"]
	path = external/libadrenotools
	url = https://github.com/bylaws/libadrenotools.git
[submodule "external/sharpemu"]
	path = external/sharpemu
	url = https://github.com/sharpemu-android/sharpemu.git
